// ====================== Grid System =======================

.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
  @media (min-width: @screen-xl-min) {
    width: @container-xl;
  }
}

.container-sm { max-width: 640px; }
.container-md { max-width: 860px; }
.container-lg { max-width: 1000px; }
.container-xl { max-width: 1200px; }


// Fluid container
.container-fluid {
  .container-fixed();
}


// Row
.row {
  .make-row();
}


// Columns
.make-grid-columns();


// Extra small grid
.make-grid(xs);


// Small grid
@media (min-width: @screen-sm-min) {
  .make-grid(sm);
}


// Medium grid
@media (min-width: @screen-md-min) {
  .make-grid(md);
}


// Large grid
@media (min-width: @screen-lg-min) {
  .make-grid(lg);
}


// Extra Large grid
@media (min-width: @screen-xl-min) {
  .make-grid(xl);
}
